# Excludes files and directories from Github's scope, primarily logging, pictures, and stuff not needing to be version controlled. 
logging/log.txt
camera/pictures
camera/ReverseFiles.txt
raspinfo.txt
repoUpdate/repoUpdater.sh.save
