# Excludes files and directories from Github's scope, primarily logging, pictures, and stuff not needing to be version controlled. 
logging/log.txt
camera/pictures
camera/ReverseFiles.txt
raspinfo.txt
repoUpdate/repoUpdater.sh.save
gasSensor/__pycache__/
logging/gas_sensor_data.csv
tempHumidSensors/.temp_humid_sensor.py.swp
tempHumidSensors/.temp.py.swp
tempHumidSensors/readings.txt
